.modal :global(.ant-modal-title) {
  font-size: var(--font-h5-size);
  font-weight: var(--font-h5-weight);
  line-height: var(--font-h5-lh);
  color: var(--color-heading);
}

.fieldName,
.fieldContent {
  margin-bottom: 8px;
}

.fieldContent {
  font-weight: var(--font-h3-weight-sb);
}

.button {
  color: white;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  font-size: 12.5px;
  padding: 5px;
}

.button.secondary {
  background: var(--color-secondary);
}

.button.secondary:hover {
  background: rgb(82, 152, 158);
  color: white;
  border: 0;
}
