.body{
    margin-top: 88px;
    background-color: white;
}

.image{
    border-radius: 20px;
}

.content{
    margin: 40px 20px;
}

.location{
    display: flex;
    margin-bottom: 32px;
}

.icon{
    width: 32px;
    height: 32px;
    margin-right: 16px;
}

.booking{
    margin-right: 56px;
}

.cardVaccine{
    margin: 32px 0;
}

.family h4{
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
}

.listFamily{
    width: 640px;
    margin-top: 24px;
    border: 1px solid #ACDADE;
    border-radius: 8px;
}
