body {
    background-color: #F5FDFE;
  }

.col{
    border-radius: 8px;
    display:flex;
    justify-content:center;
    padding: 10px 15px 15px 15px;
    box-shadow:  0 3px 5px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
}

.img{
    width:100%;
    height:auto;
    margin-bottom:5px;
}

h4 {
    font-size: var(--font-h4-size);
    font-weight: var(--font-h4-weight);
    line-height: var(--font-h4-lh);
    letter-spacing: var(--font-h4-ls);
    color: var(--color-heading);
    margin-bottom: 0;
  }

  h5 {
    font-size: var(--font-body-3-size);
    font-weight: var(--font-body-3-weight);
    color: var(--color-gray-50);
    margin-bottom: 0;
  }

  .icon{
    color:var(--color-primary);
  }

  .content{
    color: var(--color-heading);
  }
  