.title {
  margin-top: -10px;
  margin-bottom: 48px;
}

.form :global(.ant-form-item-label>label) {
  font-size: var(--font-body-1-size);
  font-weight: bold;
  line-height: var(--font-body-1-lh);
  letter-spacing: var(--font-body-1-ls);
}
