.footer{
margin-top: 88px;
background: var( --color-primary);
color: var(--color-white);
}

.copyright span{
    text-align: center; 
}

.copyright{
    display:flex;
    flex-basis: 100%;
    justify-content: center;
    align-items:center;
    border-top: 1px solid var(--color-white);
}

.footer>div>div>button>span>svg{
    color:var(--color-success);
    font-size:20px;
}

.span{
    padding-top: 15px;
    padding-bottom:10px;
}

h5{
    font-size:var(--font-body-1-size);
    font-weight: var(--font-body-1-weight) ;
    color: var(--color-white)
}