.label {
  margin-bottom: 24px;
}

.label p {
  margin-bottom: 8px;
  font-size: 28px;
}

.title {
  margin-top: -10px;
  margin-bottom: 48px;
}

.btnEdit {
  margin-bottom: 122px;
  margin-top: 64px;
}
