.input {
  padding: 8px 16px;
  border: 1px solid var(--color-disabled);
  border-radius: 8px;
}
.input:hover {
  border: 1px solid var(--color-primary-hover);
}
.input:focus {
  border: 1px solid var(--color-primary-pressed);
  box-shadow: 0px 0px 6px var(--color-pressed);
}
.disabled {
  background: rgba(0, 0, 0, 0.05);
  color: var(--color-white);
  border: 1px solid var(--color-border);
}
