* {
  margin: 0;
  padding: 0;
}
.banner {
  display: flex;
  justify-content: center;
}

.imageBanner {
  width: 100%;
}

.title {
  margin-top: 100px;
  margin-bottom: 0px;
  text-align: center;
}

.search {
  display: flex;
  justify-content: center;
  padding: 48px 0;
}

.searchInput {
  width: 883px;
  border-bottom-right-radius: 0;
}

.iconSearch {
  width: 25px;
  height: 25px;
}

.cardContainer {
  height: auto;
  display: flex;
  justify-content: center;
}

.card {
  width: 342px;
  height: 470px;
  background-color: white;
  border-radius: 8px;
  cursor: pointer;
}

.card:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card:focus {
  border: 2px solid rgba(6, 145, 157, 0.2);
}

.cardImage {
  width: 342px;
  height: 342px;
  border-radius: 8px;
  background-color: lightgray;
}

.cardDetails {
  margin: 16px;
}

.titleCard {
  display: flex;
  font-weight: var(--font-h4-weight);
}

.descriptionCard {
  display: flex;
  margin-top: 8px;
  font-size: var(--font-body-2-size);
}

.icon {
  width: 24px;
  height: 24px;
  margin-top: 3px;
  margin-right: 8px;
  color: var(--color-primary);
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 48px;
}

/* responsive mobile */
@media screen and (max-width: 576px) {
  .title {
    margin-top: 75px;
    font-size: var(--font-h4-size);
    font-weight: var(--font-h4-weight-sb);
    line-height: var(--font-h4-lh);
    letter-spacing: var(--font-h4-ls);
  }
}
