* {
  margin: 0;
  padding: 0;
}
.banner {
  display: flex;
  justify-content: center;
}

.imageBanner {
  width: 100%;
}

.title {
  margin-top: 102px;
  margin-bottom: 0px;
  text-align: center;
}

.search {
  display: flex;
  justify-content: center;
  padding: 48px 0;
}

.searchInput {
  width: 883px;
  border-bottom-right-radius: 0;
}

.iconSearch {
  width: 25px;
  height: 25px;
}

.mainCardContainer {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.cardContainer {
  display: flex;
  justify-content: center;
}

.card {
  height: auto;
  display: flex;
  justify-content: center;
  width: 342px;
  background-color: white;
  border-radius: 8px;
  cursor: pointer;
}

.card:hover {
  box-shadow: 2px 4px 8px 1px rgba(6, 145, 157, 0.25);
}

.card:focus {
  border: 3px solid #acdade;
  box-shadow: 2px 4px 8px 1px rgba(6, 145, 157, 0.25);
}

.card:active {
  border: 3px solid #03484e;
}

.cardImage {
  width: 100%;
  height: 342px;
  border-radius: 8px;
}

.cardDetails {
  margin: 16px;
}

.titleCard {
  display: flex;
  font-weight: var(--font-h4-weight);
}

.descriptionCard {
  display: flex;
  margin-top: 8px;
  font-size: var(--font-body-2-size);
}

.cardInform {
  display: flex;
  justify-content: space-between;
  padding: 12px 18px 12px 16px;
}

.cardInform li {
  word-break: break-all;
}
.icon {
  width: 24px;
  height: 24px;
  margin-top: 3px;
  margin-right: 8px;
  color: var(--color-primary);
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 43px;
}
